.histogram {
  display: block;
  width: 100%;
  height: 200px;
}

.histogram text {
  stroke : none;
  fill : #333;
  font-size: 11px;
}

.histogram .axis path, 
.histogram .axis line {
  fill: none;
  stroke: #333;
  shape-rendering: crispEdges;
}
