.line-chart {
  display: block;
  width: 100%;
  height: 200px;
}

.line-chart text {
  stroke : none;
  fill : #fff;
  font-size: 11px;
}

.line-chart .axis path,
.line-chart .axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.line-chart .line {
  stroke : #fff;
  fill : none;
}

.line-chart .line.county-line {
  stroke : #0096d2;
}

.line.legend-line {
  stroke-width: 2px;
}

line.hoverline {
  stroke : #333;
  stroke-width: 2px;
}