
html, body {
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  font-family: Lato;
  font-weight: 300;
}

h1 {
  font-weight: 300;
}

input:focus{
    outline: 0;
}

.btn-primary {
  font-weight: 300;
  background-color: #333;
  color: #fff;
  float: right;
  border-radius: 3px;
  padding: 5px 10px;
  margin-left: 5px;
  border : none;
}

.btn-primary.selected {
  background-color: #0096d2;
}

#topNav {
  background-color: #000;
  border-bottom: 1px solid #fff;
}

#content {
  margin-top: 50px;
}

.row {
  margin-bottom: 20px;
}

.urban-header {
  display: inline-block;
  width: 100%;
  min-width: 250px;
}

.share {
  position: relative;
  height: 48px;
}

.logo {
  display: inline;
}

.shareMaster {
  border-left: 1px solid #fff;
  width: 70px;
  height: 48px;
  padding-left: 20px;
  display: inline-block;
  float: right;
  opacity: 1;
}

.socials a {
  color: #fff;
  text-decoration: none;
}

.socials a:hover {
  color: #0096d2;
}

.socials {
  float: right;
  color: #fff;
  opacity: 0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.share:hover .shareMaster {
  opacity: 0.5;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.share:hover .socials {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.circle {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  margin-top: 10px;
  margin-right: 5px;
  background-color: #0096d2;
  color: #fff;
  display: inline-block;
  text-decoration: none;
}

.year-slider {
  background-color: #0096d2;
  margin-top: 25px;
}

.ui-slider-horizontal {
  height: 5px;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -7.5px;
  margin-left: -.6em;
  border-radius: 20px;
  background-color: #0096d2;
  border: 2px solid #fff;
}

.ui-widget-header {
  background-color: #fff;
}

.ui-widget-content {
  border: none;
}


.selectize-control.single .selectize-input,
.selectize-input input,
.ui-select-choices.selectize-dropdown,
.option.ui-select-choices-row-inner {
  background : #333;
  color: #fff;
  border : none;
  box-shadow: none;
  -webkit-box-shadow: none;
}


.industry-select .selectize-input {
  font-size: 22px;
}