
html, body {
  width: 100%;
/*  height: 100%;*/
  background-color: #000;
  color: #fff;
  font-family: Lato;
  font-weight: 300;
    overflow-x: hidden;
}

h1 {
  font-weight: 300;
  font-size: 36px;
}

input:focus{
    outline: 0;
}

label.title {
  font-weight: normal;
  text-align: center;
  width: 100%;
}

.btn-primary {
  font-weight: 300;
  background-color: #333;
  color: #fff;
  border-radius: 3px;
  padding: 5px 10px;
  margin-left: 5px;
  font-size: inherit;
  border : none;
  float: right;
}

.btn-primary.selected {
  background-color: #0096d2;
}

.indent-industry {
  padding-left: 20px;
}

#topNav {
  background-color: #000;
  border-bottom: 1px solid #fff;
}

#content {
  margin-top: 50px;
}

.row {
  margin-bottom: 20px;
}

.urban-header {
  display: inline-block;
  width: 100%;
  min-width: 250px;
}

.share {
  position: relative;
  height: 48px;
}

.logo {
  display: inline;
}

.shareMaster {
  border-left: 1px solid #fff;
  width: 70px;
  height: 48px;
  padding-left: 20px;
  display: inline-block;
  float: right;
  opacity: 1;
}

.socials a {
  color: #fff;
  text-decoration: none;
}

.socials a:hover {
  color: #0096d2;
}

.socials {
  float: right;
  color: #fff;
  opacity: 0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.share:hover .shareMaster {
  opacity: 0.5;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.share:hover .socials {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.circle {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  margin-top: 10px;
  margin-right: 5px;
  background-color: #0096d2;
  color: #fff;
  display: inline-block;
  text-decoration: none;
}

.year-slider {
  background-color: #ffffff;
  padding: 0px 40px;
  margin-top: 40px;
}

.year-axis {
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 40px;
}

.year-axis .tick line {
  stroke : #fff;
}

.year-axis text {
  font-size: 11px;
  stroke : none;
  fill : #fff;
}

.ui-slider-horizontal {
  height: 5px;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -7.5px;
  margin-left: -.6em;
  border-radius: 20px;
  background-color: #0096d2;
  border: 2px solid #fff;
  cursor: pointer;
}

.ui-widget-header {
  background-color: #fff;
}

.ui-widget-content {
  border: none;
}

.selectize-control.single .selectize-input,
.selectize-input input,
.ui-select-choices.selectize-dropdown,
.option.ui-select-choices-row-inner {
  background : #333;
  color: #fff;
  border : none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.ui-select-choices.selectize-dropdown {
  z-index: 11;
}
body{
  background-color: #fff; 
}
#content{
 width:100%;
    background-color:#000;
}
.graphic-row{
 margin-bottom: 0px;   
}
.footer-info{
 display: inline-block;
    float: left;
    background-color: #fff;
}
.shiftLeft{
 margin-left: -187px;
    display: inline-block;
    float: left;
}
.map-container{
 background-color:#fff;
    height: 100%;
    color:#333;
    padding-top:20px;
}
.map-container:before{
  content: '';
    display: block;
    position: absolute;
    width: 999em;
    height:100%;
    max-height: 850px;
    top: 0;
    bottom: -1000;
    right: -999em;
    background: #fff;
}

.chart-container:before{
  content: '';
  display: block;
  position: absolute;
  width: 999em;
  height: 1000px;
  top: 0;
  bottom: 0;
  right: 0;
  background: #000;
}

.btn-primary{
border-radius: 0px;
    padding: 15px;
    text-transform: uppercase;
}

.btn-primary:hover{
    background-color:#fdbf11;
}

@media(min-width: 768px) {
  .no-pad-right {
    padding-right: 0px;
  }
  .no-pad-left {
    padding-left: 0px;
  }
}

