<!DOCTYPE html>
<html lang="en" ng-app="wages">
<head>
  <meta charset="UTF-8">
  <title>American Wages</title>
  <link rel="stylesheet" href="bower.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">
  <link rel="stylesheet" href="bundle.css">
  <script src="bower.js"></script>
  <script src="bundle.js"></script>
</head>
<body ng-controller="main">

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="topNav">
    <div class="container">
      <div class="urban-header">
        <div class="share">
          <div class="logo">
            <a href="http://www.urban.org">
              <img src="images/logo-sm.png" class="visible-xs-inline-block logo-image" alt="The Urban Institute" />
              <img src="images/logo-lg.png" class="hidden-xs logo-image" alt="The Urban Institute" />
            </a>
          </div>
          <div class="shareMaster">
            <div class="shareCircle circle">
              <i class="fa fa-share"></i>
            </div>
          </div>
          <div class="socials">
            <a href="https://twitter.com/home?status=New%20@urbaninstitute%20interactive:%20Breaking%20down%20mortgages%20by%20race%20http://urbn.is/MortgageByRace%20%23HMDA" target="_blank">
              <div class="circle twitter">
                <i class="fa fa-twitter"></i>
              </div>
            </a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://urbn.is/MortgageByRace" target="_blank">
              <div class="circle facebook">
                <i class="fa fa-facebook"></i>
              </div>
            </a>
            <a href="mailto:%20?Subject=New interactive feature by the Urban Institute&amp;Body=Hi! I thought you'd be interested in this new interactive feature from the Urban Institute: “A new view of the housing boom and bust” http://urbn.is/http://urbn.is/MortgageByRace" target="_blank">
              <div class="circle email">
                <i class="fa fa-envelope"></i>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- END HEADER EXAMPLE -->

  <div class="container" id="content">
    <div class="col-sm-12 col-md-10 col-md-offset-1">

      <div class="row">
        <div class="col-sm-12 no-pad-left no-pad-right">
          <h1>Wages and Employment Explorer</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8 no-pad-left">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, esse aperiam ipsam eos tenetur reprehenderit dolorem distinctio qui obcaecati quidem? Aperiam id odit ut at quod eligendi cupiditate eos accusamus molestiae placeat ab quae, minima officia saepe aliquam maxime quasi culpa vitae! Voluptatibus, at voluptatem, velit rem ipsum ipsa officia.</p>
        </div>
        <div class="col-sm-4 no-pad-right">
          <button class="btn btn-primary"
                  ng-class='{"selected" : variable=="wages"}'
                  ng-click='variable="wages"'>
            Wages
          </button>
          <button class="btn btn-primary"
                  ng-class='{"selected" : variable=="employment"}'
                  ng-click='variable="employment"'>
            Employment
          </button>
        </div>
      </div>

      <div class="row">

        <div class="col-sm-7 no-pad-left">
          <p>Category: {{category.selected.name}}</p>
          <ui-select ng-model="category.selected" 
                     theme="selectize" 
                     style="width: 100%;" 
                     class="category-select">
            <ui-select-match placeholder="Select an category in the list...">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="category in categories | filter: $select.search">
              <span ng-bind-html="category.name | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
          <p>Industry: {{industry.selected.name}}</p>
          <ui-select ng-model="industry.selected"
                     class="industry-select"
                     theme="selectize" 
                     style="width: 100%;">
            <ui-select-match placeholder="Select an industry in the list...">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="industry in industries | filter: $select.search">
              <span ng-bind-html="industry.name | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
        </div>

        <div class="col-sm-5 no-pad-right">
          <p>Select Quarter</p>
          <div class="year-slider"
               ui-slider="{range: 'max'}"
               min="{{yearRange[0]}}"
               max="{{yearRange[1]}}"
               ng-model="year"></div>
          <div year-axis
               year="year"
               year-range="yearRange"></div>
        </div>

      </div>

      <div class="row graphic-row">

        <div class="col-md-4 chart-container">
          <div class="row">
            <div class="col-sm-12">
              <label class="title">Nationwide Distribution {{ year | yearFormat }}</label>
              <div histogram
                   map-data="mapData"
                   colorf="colorf"
                   legend-hover="legendHover"
                   variable="variable"
                   year="year"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <label class="title">{{variableDescription}} Over Time</label>
              <div line-chart
                   county-hover="countyHover"
                   year="year"
                   year-range="yearRange"
                   variable="variable"
                   colorf="colorf"
                   map-data="mapData"></div>
            </div>
          </div>
        </div>

        <div class="col-md-8 map-container no-pad-right">
          <label class="title">{{variableDescription}}, Counties in {{ year | yearFormat }}</label>
          <div county-legend
               colorf="colorf"
               variable="variable"
               legend-hover="legendHover"></div>
          <div county-map
               variable="variable"
               map-data="mapData"
               map-hover="mapHover"
               industry="industry.selected"
               legend-hover="legendHover"
               county-hover="countyHover"
               colorf="colorf"
               tooltip="tooltip"
               year="year"></div>
                    </div>
      </div>

        <footer>
            <div class="col-sm-12">
            <img  src="images/urban_grid_blue_trans.png"/> <p class="footer-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, esse aperiam ipsam eos tenetur reprehenderit dolorem distinctio qui obcaecati quidem? Aperiam id odit ut at quod eligendi cupiditate eos accusamus molestiae placeat ab quae, minima officia saepe aliquam maxime quasi culpa vitae! Voluptatibus, at voluptatem, velit rem ipsum ipsa officia.</p>
                </div>
            </footer>


    </div>
  </div>

  <div id="tooltip">
    <span class="title"></span>
    <span class="value"></span>
  </div>

</body>
</html>